In [1]:
import geopandas as gpd
import pandas as pd
import folium
import json
import re

In [13]:
filename_vl = '../data/gr_list_vlaanderen.geojson'
filename_wa = '../data/gr_list_wallonie.geojson'

df_vl = gpd.read_file(filename_vl)
df_wa = gpd.read_file(filename_wa)

In [14]:
gr_12_vl = df_vl.loc[df_vl['NAME'].str.contains('GR 12 Amsterdam - Parijs')]

In [15]:
gr_12_wa = df_wa.loc[df_wa['NAME'].str.contains('GR 12 Amsterdam - Parijs')]

In [16]:
gr_12_be = gr_12_vl.append(gr_12_wa)

In [17]:
gr_12_be

,ID,NAME,DESCRIPTIO,LANGUAGE,LENGTH,OWNER_ID,TYPE_ID,TYPE_NAME,FLAG,SCORE,EDITED_DAT,geometry
23,4796603,GR 12 Amsterdam - Parijs,<p><strong>Hoofdroute: 200 km | Variante: 59 k...,nl,200388,80833,10,Hikingroute,be,0.72,2021-03-11T07:28:26.187408+00:00,"LINESTRING (4.32647 51.48759, 4.32618 51.48735..."
18,7032282,GR 12 Amsterdam - Parijs | WalloniΓ«,<p><strong>Hoofdroute: 302 km</strong></p>\n\n...,nl,302319,80833,10,Hikingroute,be,0.60,2020-05-29T08:36:45.741547+00:00,"LINESTRING (4.34813 50.90152, 4.34815 50.90113..."

In [18]:
#gr_12_be.to_file("../data/gr_12_belgie.geojson", driver='GeoJSON')

In [19]:
from os import walk
mypath = '../data/floris_v_etappes'

files=[]
file_names = []

for (dirpath, dirnames, filenames) in walk(mypath):
    files.extend(filenames)
    break

In [20]:
for f in files:
    file_names.append(f)

In [23]:
list_of_dfs = []
for file in file_names:
    list_of_dfs.append(gpd.read_file('../data/floris_v_etappes/'+file))

In [24]:
df = pd.concat(list_of_dfs)

In [25]:
df

                     name                                           geometry
0  Floris V-pad etappe 13  MULTILINESTRING ((4.31461 51.58588, 4.31449 51...
0  Floris V-pad etappe 04  MULTILINESTRING ((4.97871 52.19094, 4.97869 52...
0  Floris V-pad etappe 11  MULTILINESTRING ((4.43725 51.72638, 4.43727 51...
0  Floris V-pad etappe 12  MULTILINESTRING ((4.37080 51.63877, 4.36942 51...
0  Floris V-pad etappe 01  MULTILINESTRING ((4.89290 52.37272, 4.89293 52...
0  Floris V-pad etappe 02  MULTILINESTRING ((5.03979 52.30830, 5.03983 52...
0  Floris V-pad etappe 08  MULTILINESTRING ((4.66847 51.88285, 4.66845 51...
0  Floris V-pad etappe 09  MULTILINESTRING ((4.73707 51.80422, 4.73710 51...
0  Floris V-pad etappe 07  MULTILINESTRING ((4.85422 51.94298, 4.85414 51...
0  Floris V-pad etappe 03  MULTILINESTRING ((5.10942 52.24185, 5.10941 52...
0  Floris V-pad etappe 10  MULTILINESTRING ((4.63103 51.77272, 4.63064 51...
0  Floris V-pad etappe 06  MULTILINESTRING ((4.87125 52.02167, 4.87122 52...
0  Floris V-pad etappe 05  MULTILINESTRING ((4.89127 52.08699, 4.89123 52...

In [ ]:
df.to_file("../data/gr_12_nederland.geojson", driver='GeoJSON')

In [3]:
filename_be = '../data/gr_12_belgie.geojson'
filename_nl = '../data/gr_12_nederland.geojson'

df_be = gpd.read_file(filename_be)
df_nl = gpd.read_file(filename_nl)

df = pd.concat([df_be,df_nl])
df.to_file("../data/gr_12.geojson", driver='GeoJSON')